.App {
  position: relative;
  overflow: auto;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1.43px;
  min-height: 70px;
  background-color: #090b13;
  z-index: 10;
  width: 100vw;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3.5rem; 
}

@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
}
.button-link{
  text-transform: uppercase;
  color: rgba(250,250,250, 0.7);
  border: 1px solid #f9f9f9;
  padding: 8px 17px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.button-link:hover{
  color: #090b13;
  background-color: #f9f9f9;
  animation: button-link-hover 500ms ease 0s 1 normal forwards;
}

@keyframes button-link-hover {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.3);
	}
}

.background {
  position: fixed;
  background-color: #0b1212;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

#About {
  min-height: 100vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Projects {
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #Projects .project-gallery {
    display: none;
  }
}

#Contact {
  min-height: 700px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Skills .container {
  min-height: 700px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Skills .wrapper {
  margin-top: 25px;
}

.skills{
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  padding: 25px;
}

@media screen and (max-width : 600px) {
  .skills {
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    text-align: left;
  }
}

.logo{
  margin-right: 8px
}

.logo:hover{
  animation: logoEnter 50ms ease-out 0s 1 normal forwards;
}

@keyframes logoEnter {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

.contact-info{
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger {
  display: none;
  width: 25px;
}

@media screen and (max-width : 600px) {
  nav{
    justify-content: flex-start;
  }

  .hamburger {
    display: block;
    margin-left: calc(3.5vw + 5px);
  }
  .hamburger :nth-child(1){
    animation: hamburgerOpen 500ms ease-out 0s 1 normal forwards;
  }
  .hamburger :nth-child(2){
    animation: hamburger-middle 500ms ease-out 0s 1 normal forwards;
  }
  .hamburger :nth-child(3){
    animation: hamburgerOpenbot 500ms ease-out 0s 1 normal forwards;
  }
}



@keyframes hamburgerOpen {
  0% {
		transform: scale(1);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes hamburger-middle {
  0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes hamburgerOpenbot {
  0% {
		transform: scale(1);
	}
	100% {
		transform: translateY(-1000%) rotate(-45deg);
	}
}