html, body{
  scrollbar-width: none;
  overflow-x: hidden;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1.43px;
  min-height: 70px;
  background-color: #090b13;
  width: 100vw;
  position: fixed;
  z-index: 9999;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3.5rem;
}

@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
  }

  #Resume {
    z-index: 8;
    max-width: 100vw;
    overflow: hidden;
  }
}
.button-link {
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.7);
  border: 1px solid #f9f9f9;
  padding: 8px 17px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.button-link:hover {
  color: #090b13;
  background-color: #f9f9f9;
  animation: button-link-hover 500ms ease 0s 1 normal forwards;
}

@keyframes button-link-hover {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
  
}

.background {
  position: fixed;
  /* background-color: #0b1212; */
  background-color: rgb(26, 22, 29);
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

#About {
  min-height: 100vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Projects {
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #Projects .project-gallery {
    display: none;
  }
}

.project-gallery > .text {
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: -1;
  opacity: 0.11;
}

#Contact {
  min-height: 700px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Skills .container {
  min-height: 700px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}

#Skills .wrapper {
  margin-top: 45px;
}

.skills {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 25px;
  
}

@media screen and (max-width: 600px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-align: left;
  }
}

.logo {
  margin-right: 8px;
}

.logo:hover {
  animation: logoEnter 50ms ease-out 0s 1 normal forwards;
}

@keyframes logoEnter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.contact-info {
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger {
  display: none;
  width: 25px;
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: flex-start;
  }

  .hamburger {
    display: block;
    margin-left: calc(3.5vw + 5px);
  }
  }

#Resume {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 100;
  padding-top: 25px;
}

#Resume button{
  background-color: transparent;
  margin-bottom: 25px;
}

#Resume button:hover {
  color: #090b13;
  background-color: #f9f9f9;
  animation: button-link-hover 500ms ease 0s 1 normal forwards;
}


#h-menu {
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  /* transform: translateX(-120%); */
  z-index: 101;
  background-color: #090b13f6;
}

.h-menu-item {
  color: white;
  font-size: clamp(3rem, 2vw, 5rem);

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: all 400ms ease;
}

#h-menu-items {
  margin-left: clamp(1rem, 2vw, 4rem);
  margin-right: clamp(3rem, 3vw, 11rem);
}

#h-menu-items:hover > .h-menu-item {
  opacity: 0.3;
}

#h-menu-items:hover > .h-menu-item:hover {
  opacity: 1;
  background: linear-gradient(to right, #8693AB, #BDD4E7);
  background-clip: text;
  color: transparent;
  transform: translateX(11%);
}

#h-menu-background {
  height: 100vh;
  width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-18 22:48:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


